/*Pantalla mayor a 900px*/

@media only screen and (min-width: 901px) {
    body{
        background-color: whitesmoke;
        font-family: monospace;
        color: rgb(66, 66, 66);
        font: 16px;
    }
    
    h6{
        width: 90%;
        padding: 10px;
        padding-left: 200px;
        text-align: center;
        line-height: 2;
    
    }
    
    th{
        font-weight: bold;
        font-size: 20px;
    }
    
    #encabezado{
        background-color:  rgb(118, 177, 79);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }
    
    #cuadro1{
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
    }
    
    #cuadro2{
        color: whitesmoke;
    }
    
    #informacion{
        background-color: whitesmoke;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #cuadro3{
        background-color: rgb(188, 211, 173);
        padding: 10px;
        padding-top: 30px;
        border: 1px rgb(171, 194, 156);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 80%;
    }
    
    #cuadro4{
        padding-top: 20px;
        padding-left: 30px;
        line-height: 2.5;
    }
    
    #cuadro5{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    #inicio{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #foto{
        width: 200px;
        height: 250px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .presentacion{
        font-family: monospace;
        color: whitesmoke;
    }

    .nombre{
        font-size: larger;
        font-weight: bolder;
    }
    
    .separador{
        border-color: rgb(66, 66, 66);
        width: 60%;
    }
    
    .titulo{
        font: 30px weight;
        font-family: monospace;
        color: rgb(66, 66, 66);
    }
    
    .lista1{
        list-style: none;
        font: 20px weight;
        font-family: monospace;
    }
    
    .lista2{
        list-style: disc;
    }
    
    .tabla{
        font-family: monospace;
        border-collapse: separate;
        border-spacing: 6px;
        width: 100%;
        padding-bottom: 50px;
    }
    
    .circulo1{
        width: 25px;
        height: 20px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(171, 171, 171);
    }
    
    .circulo2{
        width: 25px;
        height: 20px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(72, 130, 77);
    }
    
    .boton1{
        border: 1px solid rgb(66, 66, 66);
        padding: 10px;
        background-color: whitesmoke;
        color:rgb(66, 66, 66);
    }
    
    .boton2{
        padding: 10px;
        background-color: rgb(118, 177, 79);
        color: whitesmoke;
        font-weight: bold;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .boton3{
        padding: 10px;
        background-color: rgb(99, 99, 99);
        color: whitesmoke;
        font-family: monospace;
        font-weight: bold;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin: 10px;
    }
    
    .boton1:hover{
        background-color: rgb(22, 96, 165);
        color: whitesmoke;
        font-weight: bold;
        text-decoration: none;
    }
    
    .boton2:hover{
        background-color: rgb(72, 130, 77);
        font-weight: bold;
        font-size: 110%;
        color: whitesmoke;
        text-decoration: none;
    }
    
    .boton3:hover{
        background-color: rgb(49, 49, 49);
        text-decoration: none;
        font-size: 110%;
        color: whitesmoke
    }
}

/*Pantalla menor a 900px*/
@media only screen and (max-width: 900px) {
    body{
        background-color: whitesmoke;
        font-family: monospace;
        color: rgb(66, 66, 66);
        font: 12px;
    }
    
    h6{
        width: 95%;
        padding: 5px;
        text-align: center;
        line-height: 1.5;
        font-size: medium;
    }
    
    th{
        font-weight: bolder;
        font-size: large
    }
    
    #encabezado{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        text-align: center;
    }
    
    #cuadro1{
        color: rgb(66, 66, 66);
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    #cuadro2{
        background-color: rgb(188, 211, 173);
        color: rgb(66, 66, 66);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: medium;
        text-align: center;
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    #informacion{
        background-color: whitesmoke;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        padding: 2px;
    }
    
    #cuadro3{
        background-color: rgb(188, 211, 173);
        padding: 5px;
        border: 1px rgb(171, 194, 156);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #cuadro4{
        padding: 5px;
        line-height: 1;
    }
    
    #cuadro5{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        font-size: small;
        text-align: center;
    }
    
    #inicio{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #foto{
        width: 160px;
        height: 190px;
        padding: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .nombre{
        font-size: larger;
        font-weight: bolder;
    }
    
    .presentacion{
        font-family: monospace;
        font-size: medium;
    }
    
    .separador{
        border-color: rgb(66, 66, 66);
        width: 70%;
    }
    
    .titulo{
        font-weight: bold;
        font-family: monospace;
        color: rgb(66, 66, 66);
    }
    
    .lista1{
        list-style: none;
        font-weight: bold;
        font-family: monospace;
        line-height: 2;
    }
    
    .lista2{
        list-style: disc;
        font-size: medium;
        line-height: 1.5;
    }
    
    .tabla{
        font-family: monospace;
        border-collapse: separate;
        border-spacing: 5px;
        width: 80%;
    }
    
    .circulo1{
        width: 25px;
        height: 20px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(171, 171, 171);
    }
    
    .circulo2{
        width: 25px;
        height: 20px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: rgb(72, 130, 77);
    }
    
    .boton1{
        border: 1px solid rgb(66, 66, 66);
        padding: 5px;
        background-color: whitesmoke;
        color:rgb(66, 66, 66);
    }
    
    .boton2{
        padding: 5px;
        background-color: rgb(118, 177, 79);
        color: whitesmoke;
        font-weight: bold;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .boton3{
        padding: 5px;
        background-color: rgb(99, 99, 99);
        color: whitesmoke;
        font-family: monospace;
        font-weight: bold;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin: 10px;
    }
    
    .boton1:hover{
        background-color: rgb(22, 96, 165);
        color: whitesmoke;
        font-weight: bold;
        font-size: 110%;
        text-decoration: none;
    }
    
    .boton2:hover{
        background-color: rgb(72, 130, 77);
        font-weight: bold;
        font-size: 110%;
        color: whitesmoke;
        text-decoration: none;
    }
    
    .boton3:hover{
        background-color: rgb(49, 49, 49);
        text-decoration: none;
        font-size: 110%;
        color: whitesmoke
    }
}
